<h2>Formulario de Contacto</h2>

<form class="contact-form">
    <div class="form-group">
        <label for="nombre">Nombre:</label>
        <input type="text" id="nombre" name="nombre" required>
    </div>

    <div class="form-group">
        <label for="apellidos">Apellidos:</label>
        <input type="text" id="apellidos" name="apellidos" required>
    </div>

    <div class="form-group">
        <label for="empresa">Empresa:</label>
        <input type="text" id="empresa" name="empresa">
    </div>

    <div class="form-group">
        <label for="direccion">Dirección:</label>
        <input type="text" id="direccion" name="direccion" required>
    </div>

    <div class="form-group">
        <label for="ciudad">Ciudad:</label>
        <input type="text" id="ciudad" name="ciudad" required>
    </div>

    <div class="form-group">
        <label for="codigo-postal">Código Postal:</label>
        <input type="text" id="codigo-postal" name="codigo-postal" required>
    </div>

    <button type="submit" class="submit-btn">Enviar</button>
</form>
<footer class="footer">
    <p>&copy; 2025 Tienda Informática | Todos los derechos reservados.</p>
    <p>David López Núñez</p>
</footer>