<h2>Productos</h2>

<section class="products-container">
  <div class="product-card">
    <img src="/monitor.avif" alt="Producto 1" class="product-image">
    <div class="product-info">
      <h3>Monitor</h3>
      <p>Monitor 27 pulgadas</p>
      <p class="price">150.99€</p>
      <button class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>

  <div class="product-card">
    <img src="/torre.jpg" alt="Producto 2" class="product-image">
    <div class="product-info">
      <h3>Pc</h3>
      <p>Forgeon Mithril ARGB Mesh Torre ATX Negra</p>
      <p class="price">$129.99€</p>
      <button class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>

  <div class="product-card">
    <img src="/iphone.jpg" alt="Producto 3" class="product-image">
    <div class="product-info">
      <h3>Iphone</h3>
      <p>Iphone 15 pro max</p>
      <p class="price">999.99€</p>
      <button class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>

  <div class="product-card">
    <img src="/samsumg.jpg" alt="Producto 4" class="product-image">
    <div class="product-info">
      <h3>Samsung</h3>
      <p>Samsung s24 ultra</p>
      <p class="price">800€</p>
      <button class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>

  <div class="product-card">
    <img src="/applewatch.jpg" alt="Producto 5" class="product-image">
    <div class="product-info">
      <h3>Apple watch</h3>
      <p>Apple watch ultra</p>
      <p class="price">500€</p>
      <button class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>

  <div class="product-card">
    <img src="/TABLET.jpg" alt="Producto 6" class="product-image">
    <div class="product-info">
      <h3>Ipad</h3>
      <p>Ipad Pro</p>
      <p class="price">700€</p>
      <button class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>

  <div class="product-card">
    <img src="/play.jpg" alt="Producto 7" class="product-image">
    <div class="product-info">
      <h3>Playstation 5</h3>
      <p>Playstation 5 standar</p>
      <p class="price">499.99€</p>
      <button class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>

  <div class="product-card">
    <img src="/xbox.jpg" alt="Producto 8" class="product-image">
    <div class="product-info">
      <h3>Xbox</h3>
      <p>Xbox series x</p>
      <p class="price">399.99€</p>
      <button class="add-to-cart">Añadir al carrito</button>
    </div>
  </div>
</section>
<footer class="footer">
    <p>&copy; 2025 Tienda Informática | Todos los derechos reservados.</p>
    <p>David López Núñez</p>
</footer>