<mat-toolbar color="primary">
  <span>Productos</span>
</mat-toolbar>

<section class="products-container">
  <mat-card class="product-card" *ngFor="let product of products">
    <img mat-card-image [src]="product.image" [alt]="product.name" class="product-image">
    <mat-card-content class="product-info">
      <h3>{{ product.name }}</h3>
      <p>{{ product.description }}</p>
      <p class="price">{{ product.price }}€</p>
      <button mat-raised-button color="primary" class="add-to-cart">Añadir al carrito</button>
    </mat-card-content>
  </mat-card>
</section>

<mat-divider></mat-divider>

<footer class="footer mat-elevation-z4">
  <mat-toolbar color="accent">
    <span>&copy; 2025 Tienda Informática | Todos los derechos reservados.</span>
    <span class="spacer"></span>
    <span>David López Núñez</span>
  </mat-toolbar>
</footer>