<h2>Bienvenidos a nuestra tienda</h2>

<section class="store-description">
  <p>
    En nuestra tienda encontrarás una gran variedad de productos de calidad informática. Estamos comprometidos con ofrecerte lo mejor para tu comodidad y satisfacción.
  </p>
  <img src="/tienda.jpg" alt="Imagen de la tienda" class="store-image">
</section>
<nav>
  <ul>
    <li><a routerLink="/home/child-a">Conoce nuestros personal</a></li>
    <li><a routerLink="/home/child-b">Ofertas especiales</a></li>
  </ul>
</nav>

<footer class="footer">
  <p>&copy; 2025 Tienda Informática | Todos los derechos reservados.</p>
  <p>David López Núñez</p>
</footer>
<router-outlet></router-outlet>
